<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educa</title>
</head>
<body>
    <h1 style="text-align: center">
        <a href="accounts/login/">accounts/login/</a><br>
        <a href="accounts/logout/">accounts/logout/</a><br>
        <a href="admin">admin/</a><br>
        <a href="course/mine/">course/mine</a><br>
        <a href="students/register/">students/register/</a><br>
        <a href="api/subjects/">api/subjects/</a><br>
        <a href="api/courses/">api/courses/</a><br>
    </h1>
</body>
</html>